.art {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    justify-content: center;
}

.art.image {
    width: 960px;
    height: 540px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.art.caption {
    color: white;
    text-align: center;
    margin: 20px, 0px, 0px, 0px;
}