.songList {
    display: table;
    flex-direction: column;
    list-style-type: none;
    margin: auto;
    padding: 0px;
}

.songLink {
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    background-color: #ed6663;
    border-radius: 5px;
    color: #1b262c;
    padding: 0px 20px 0px 20px;
}

.songLink:hover {
    background-color: white;
    transform: scale(1.1) perspective(10px);
}