body {
    background-color: #1b262c;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    background-color: black;
    padding-left: 0px;
    display: flex;
}

.heading.links {
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.heading.links a {
    color: #ed6663;
    text-decoration: none;
}

.heading.links a:hover {
    color: #ffa372;
}

.footing {
    margin-top: 100px;
}

.intro {
    color: white;
    text-align: center;  
}

.intro.title {
    margin-top: 100px;
    font-size: 50px;
}

.intro.body {
    font-size: 24px;
    line-height: 35px;
}

.intro.ytLink {
    text-decoration: none;
    color: #ed6663;
}

.intro.ytLink:hover {
    color: #ffa372;
}

.intro.button {
    font-size: 30px;
    text-decoration: none;
    background-color: #ed6663;
    border-radius: 5px;
    color: #1b262c;
    padding: 0px 20px 0px 20px;
    position: relative;
}

.intro.button:hover {
    background-color: white;
    transform: scale(1.5) perspective(10px);
}